.cardAboutMe#cardAboutMe
    .row.justify-content-center
        .col-sm-2.card-img
            img.img-fluid(src="imgs/undraw_profile_pic_yellow.svg", alt="me")
        .col-sm-1
        .col-sm-6.card-txt
            h4.name Abdulramhan Mahmoud
            h5.jobTitle: i Laravel #[span Web Developer]
            p.email
                i.fas.fa-envelope-open.icona
                | 
                span sa3d.clay@gmail.com
            p.location
                i.fas.fa-map-marker-alt.icona
                | 
                span El-Maadi Cairo
            p.phone
                i.fas.fa-phone-volume.icona
                | 
                span 01000373119
hr
