-
    myExperiences = {
        'Web-Design': `I have 4 years of experience in web design, so I can build fully responsive web applications for mobile, tablet and desktop. I can provide the design with animation and nice effects. Also, I can integrate libraries and frameworks like (bootstrap or hover.css). I also try to cover UI/UX design standards to deliver friendly web apps for the customers.`,

        'Web-Development': `I am intermediate in PHP, and I can build web apps with frameworks like Laravel (as back-end server with API end-points) and Vue/Nuxt (as a front-end client).`
    }

.myExp#myExp
    h4.exp-head My #[span Experiences]

    .exp-detailed
        each value, index in myExperiences
            .exp-field
                h5
                    i.fab.fa-uikit.icona
                    | 
                    = index
                p= value
hr
