-
    currentDate = new Date()
    day = currentDate.getDate()
    month = currentDate.getMonth()
    year = currentDate.getFullYear()

footer
    .container
        .row
            .col-6.py-3.d-flex.justify-content-start
                p Copyright @ 2020 by Clay
            .col-6.py-3.d-flex.justify-content-end
                a(href="https://github.com/Sa3dClay", target="_blank")
                    i.fab.fa-github
                a(href="https://www.linkedin.com/in/abdulrahman-atef-234252143/", target="_blank")
                    i.fab.fa-linkedin-in