head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    title Resume

    //- AOS
    link(rel='stylesheet' href='css/aos.css')
    script(src='js/aos.js')

    //- Font-Awesome
    link(rel='stylesheet' href='css/all.css')
    script(src='js/all.js')

    //- Bootstrap
    link(rel='stylesheet' href='css/bootstrap.css')
    
    //- My-Style
    link(rel='stylesheet' href='css/style.css')
    link(rel='icon' href='imgs/web-logo.png')