include vars.pug

doctype
html(lang='en')

    include head.pug

    body
        .app
            include navbar.pug

            include container.pug

            include footer.pug

        include scripts.pug